<% event.copy.each do | copy | %>
  <div class="slp-commit-grid slp-mb-64 md:slp-mb-144 slp-relative">
    <% if copy.heading %>
      <div class="slp-col-span-full slp-relative">
        <div class="slp-max-w-prose">
          <%= partial "includes/cms/event/slp-heading", locals: { heading: copy.heading }  %>
        </div>
      </div>
    <% end %> 
    <!-- START COLUMN 1, ROW 1 -->
    <div class="slp-col-span-full md:slp-col-span-5 slp-mb-64">
      <% if copy.headingMin %>
        <div class="slp-max-w-prose">
          <%= partial"includes/cms/event/slp-heading", locals: { heading: copy.headingMin }  %>
        </div>
      <% end %> 
      <h5
        class="slp-font-normal slp-text-md md:slp-text-xl slp-text-grayscale-333 slp-leading-normal"
      >
        <%= copy.subheading %>
      </h5>
      <% if copy.bodyColOne %>
        <div class="slp-col-span-4 slp-text-grayscale-333" >
          <div class="slp-prose slp-max-w-none slp-prose-xl">
            <%= kramdown(copy.bodyColOne) %>
          </div>

          <% if copy.cta %>
            <a href="<%= copy.destinationUrl %>" class="sm:slp-min-w-min slp-btn slp-btn--secondary">
              <%= copy.cta %>
            </a>
          <% end %>
        </div>
      <% end %>
    </div>
    <!-- START COLUMN 1, ROW 2 -->
    <% if copy.imageSourceTwo %>
      <div class="md:slp-col-start-6 slp-col-span-4 slp-mb-64">
        <img
          src="<%= copy.imageSourceTwo %>"
          alt="imageAltTwo"
        />
      </div>
    <% end %>
    <!-- START COLUMN 2, ROW 2  -->
    <% if copy.imageSourceOne %>
      <div class="md:slp-col-start-1 slp-col-span-4 slp-mb-64">
        <img
          src="<%= copy.imageSourceOne %>"
          alt="imageAltOne"
        />
      </div>
    <% end %>
    <div
      class="slp-flex slp-flex-col-reverse md:slp-flex-col slp-col-span-full md:slp-col-start-6 md:slp-col-span-5"
    >
      <% if copy.bodyColTwo %>
        <div class="slp-text-grayscale-333 slp-col-start-6 slp-col-span-4 slp-row-start-3">
          <div class="slp-prose slp-max-w-none slp-prose-xl">
            <%= kramdown(copy.bodyColTwo) %>  
          </div>
          <% if copy.ctaTwo %>
            <a href="<%= copy.destinationUrlTwo %>" class="sm:slp-min-w-min slp-btn slp-btn--secondary">
              <%= copy.ctaTwo %>
            </a>
          <% end %>
        </div>
      <% end %>
    </div>
  </div> 
<% end %>
